.card-container {
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  margin: 20px 0;
    margin-left: 0px;
  width: 100%;
  max-width: 95%;
  margin-left: 1%;
}
